
Perform Descriptive analysis and identify the data type. 1) Count Total no. of students in data set 2) Calculate mean of the marks for each subject 3) Find the highest and lowest marks in each subject in given data set 4) Count total no of male and female in dataset.

In [9]:
import pandas as pd
import numpy as np

In [27]:
#getting data-frame from csv file
df = pd.read_csv(r'C:\Users\HP\Downloads\dataset\Student.csv')
df.head(n=10)

,Name,Enrollment No,Gender,Contact,City,DS,PEM,OS,OOPJ,COA,DM
0,Atif,180280116001,Male,8733097294,Ahmedabad,68,92,88,98,82,90
1,Bhautikkumar,180280116002,Male,7946311401,Vadodara,81,66,85,95,88,74
2,Shani,180280116003,Male,9774309197,Chhota Udaipur,96,66,86,80,83,61
3,Nachiketa,180280116004,Male,7385020101,Ahmedabad,71,99,93,81,92,63
4,Sumitkumar,180280116005,Male,7654089401,Vadodara,62,74,82,100,84,97
5,Rohitbhai,180280116006,Male,7746548969,Anand,81,96,83,84,100,66
6,Kamiyabhusen,180280116007,Male,7553373270,Chhota Udaipur,88,69,96,83,88,90
7,Hemangini,180280116008,Female,8984361224,Dahod,70,92,88,98,85,68
8,Krutik,180280116009,Male,9495872446,Kheda,81,81,91,77,94,71
9,Ujas,180280116010,Male,6857273054,Mahisagar,68,90,70,75,100,84

In [11]:
#getting summary about every columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 11 columns):
Name               999 non-null object
 Enrollment No     999 non-null float64
Gender             999 non-null object
Contact            999 non-null int64
City               999 non-null object
DS                 999 non-null int64
PEM                999 non-null int64
OS                 999 non-null int64
OOPJ               999 non-null int64
COA                999 non-null int64
DM                 999 non-null int64
dtypes: float64(1), int64(7), object(3)
memory usage: 86.0+ KB

Descriptive states describing observations

1. Mean
2. Median
3. Sum
4. Max, Min

In [12]:
#counting students
s_count = df.count().Name
print(f'Total Students:{s_count}')

Total Students:999

In [13]:
subjects = ["PEM", "OS", "COA", "DM", "OOPJ"]
#getting subject data-frame
subject_df = df.loc[:, subjects]
print(subject_df)

#finding mean, median, max and min using agg()
subject_df.agg([np.mean,np.median,np.min,np.max])

     PEM  OS  COA  DM  OOPJ
0     92  88   82  90    98
1     66  85   88  74    95
2     66  86   83  61    80
3     99  93   92  63    81
4     74  82   84  97   100
..   ...  ..  ...  ..   ...
994   93  87   79  66    73
995   67  73   97  65    79
996   66  82  100  82    86
997   81  99   82  79    74
998   85  76   96  83    86

[999 rows x 5 columns]

               PEM          OS         COA          DM        OOPJ
mean     82.457457   85.368368   89.152152   80.329329   85.574575
median   83.000000   86.000000   90.000000   81.000000   86.000000
amin     65.000000   70.000000   78.000000   60.000000   71.000000
amax    100.000000  100.000000  100.000000  100.000000  100.000000

Descriptive states describing variable spread

1. Variance
2. Standard deviation
3. Counts
4. Quartiles

In [17]:
#counting number of male and female students
gender_counts = df.Gender.value_counts()
gender_counts.index = ["Total Females", "Total Males"]
print(gender_counts)

Total Females    512
Total Males      487
Name: Gender, dtype: int64

In [19]:
#getting gender by proportion
norm_gender_count = df.Gender.value_counts(normalize = True)
norm_gender_count.index=["Females(%)", "Males(%)"]
print(norm_gender_count*100)

Females(%)    51.251251
Males(%)      48.748749
Name: Gender, dtype: float64

In [21]:
#variance in marks of subject
df.var()["PEM":]

PEM     105.639220
OS       83.699840
OOPJ     75.587369
COA      43.880634
DM      144.419490
dtype: float64

In [22]:
#standard deviation in marks of subject
df.std()["PEM":]

PEM     10.278094
OS       9.148762
OOPJ     8.694100
COA      6.624246
DM      12.017466
dtype: float64

In [25]:
def iqr(column):
    """
    This function finds the inter quartile range.
            75th percentile - 25th percentile
    Parameters
    -----------
            column: column whose iqr is to be known
            
    Returns
        ------------
            the inter quartile range of specified column
    """
    return column.quantile(.75) - column.quantile(.25)

In [26]:
#finding iqr of every subject marks
subject_df.agg(iqr)

PEM     17.0
OS      16.0
COA     11.0
DM      22.0
OOPJ    15.0
dtype: float64